body {
    background-color: white;
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    color: white;
    background-color: blue;
    margin-top: 0;
    height: 50px;
    padding-top: 25px;
}

nav {
    width: 100%;
    margin-bottom: 30px;
}

ul {
    list-style-type: none;
    text-align: center;
    margin: auto;
}

ul li {
    text-transform: uppercase;
    display: inline;
    font-size: 18px;
    width: 90%;
    margin: auto;
}

a {
    color: blue;
    text-decoration: none;
    padding: 10px 20px;
    background-color: white;
}

a:hover {
    color: white;
    background-color: blue;
}

section {
    background-image: url(images.jpeg);
    background-size: 100% auto;
    background-position: 0px;
    height: 400px;
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
    border: 1px dotted blue;
}

h1 {
    font-weight: 4000;
    font-size: 40px;
    padding-top: 100px; 
    padding-bottom: 0px;
    color: blue;
}

p {
    font-size: 20px;
    font-style: oblique;
    color: blue;
    padding-top: 0px;
}

span a {
    border: 1px solid;
    border-radius: 20px;
    font-weight: 700;
}