body {
    background-color: gray;
    max-width: 100%;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    background-color: rgba(255, 255, 255, 0.3);
    color: gold;
}

nav {
    background-color: white;
    width: 100%;
}

ul {
    list-style-type: none;
    text-align: center;
}

li {
    text-transform: uppercase;
    display: block;
    font-size: 30px;
    padding: 10px;
    background-color: white;
    width: 90%;
    float: left;
    border: 1px solid rgba(0, 0, 255, 0.1);
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: white;
    background-color: blue;
}