body {
    background-color: white;
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgba(231, 255, 255, 0.39);
    height: auto;
    text-transform: uppercase;
    text-align: center;
}

header h2 {  
    font-size: 30px;
    color: white;
    background-color: blue;
    margin-top: 0;
    padding: 25px 0;
}

nav {
    margin: 0 auto;
    width: 90%
}

ul {
    list-style-type: none;
}

ul li {
    font-size: 20px;
    display: inline-block;
    margin-bottom: 15px;
}

a {
    color: blue;
    text-decoration: none;
    padding: 8px 35px;
    display: block;
}

a:hover {
    color: white;
    background-color: blue;
    border-radius: 15px;
}

#banner {
    background-image: url(img/images.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0;
    height: 350px;
    width: 100%;
    text-align: center;
    border: 1px dotted rgba(0, 0, 255, 0.19);
}

#banner h1 {
    font-weight: bolder;
    font-size: 33px;
    color: rgb(0, 0, 150);
    margin-top: 130px;
    margin-bottom: 0;
}

#banner h3 {
    font-weight: bolder;
    font-size: 14px;
    color: rgb(2, 0, 131);
    background-color: rgba(255, 255, 255, 0.753);
    margin: 2px auto;
    width: 150px;
}

#banner a {
    border: 1px solid;
    border-radius: 10px;
    background-color: white;
    padding: 1px;
    width: 100px;
    margin: 6px auto;
    font-size: small;
}

#banner a:hover {
    background-color: blue;
    color: white;
}

.form_caption {
    color: rgb(3, 3, 187);
    background-color: white;
    border: 1px solid rgba(0, 0, 255, 0.336);
    padding: 10px 0;
}

form {
    width: 25em;
    text-align: center;
    background-color: rgba(0, 0, 140, 0.848);
    background-image: url(img/rooom.jpeg);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5em auto;
}

label {
    font-size: 12px;
    color: white;
}

input {
    width: 100%;
    text-align: center;
}

input[type=text], input[type=tel] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.404);
    font-size: 15px;
    padding: 6px 1px;
    height: 15px;
    color: white;
    outline: none;
}

.mode_of_study {
    color: white;
    font-style: normal;
    font-size: 10px;
    margin-bottom: 0px;
}

select {
    width: 65%;
    border-radius: 8px;
    padding :1px 0;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    outline: none;
    margin-bottom: 7px;
    background-color: rgba(255, 255, 255, 0.616);
}

input[type=submit] {
    background-color: rgb(255, 255, 255);
    color: blue;
    padding: 8px 0;
    border: 1px solid blue;
    font-weight: bold;
}

input[type=submit]:hover {
    color: white;
    background-color: rgb(0, 0, 88);
    text-transform: uppercase;
}

::placeholder {
    color :white;
    opacity: 0.7;
    font-size: 10px;
}

#card {
    text-align: center;
    max-width: 23em;
    height: 15em;
    margin: 0 auto;
    border: 1px solid lightblue;
    padding: 0px 10px;
    box-shadow: 0 0 3px 1px rgb(154, 154, 248);
    background-image: url(img/images.jpeg);
    background-color: rgba(34, 34, 251, 0.104);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    display: grid;
    grid-template-areas: 
                "logo schdet"
                "title title"
                "studet img";
   grid-template-columns: 9em 13em;
   grid-column-gap: 0;
}

.school_logo {
    margin-top: 0.6em;
    margin-left: 1.2em;
    grid-area: logo;
    border-radius: 50px;
    max-width: 3.5em;
}

#school_details {
    grid-area: schdet;

    grid-column: 2 / 3;
}

#school_details h3 {
    text-transform: uppercase;
    color: darkblue;
    margin-bottom: 0;
    font-size:1rem;
}

#school_details h5 {
    font-size: 13px;
    color: rgb(0, 0, 224);
    margin-top: 0;
}

#card h4 {
    grid-area: title;
    text-transform: uppercase;
    font-size: small;
    margin-top: 17px;
    background-color: rgba(1, 1, 65, 0.589);
    width: auto;
    padding: 5px 0;
    color: white;
}

#card #student_details {
    grid-area: studet;
    font-size: 0.7rem;
    background-color: rgba(239, 255, 242, 0.798);
    max-height: 100px;
}

.name, .level, .faculty, .department, .mode {
    margin: 2px;
    padding: 1.5px 10px;
    font-size: larger;
    color: rgb(0, 0, 146);
}

.student_picture {
    max-width: 200px;
    max-height: 100px;
    grid-area: image;
    align-items: center;
    grid-row: 3;
    grid-column: 2;
    margin-left: auto;
}

caption {
    text-transform: uppercase;
    color: rgb(0, 0, 139);
    font-size:30px;
    font-weight: bolder;
}

table {
    width: 85%;
    margin:50px auto;
    background-color: white;
    border-collapse: collapse;
    box-shadow: 0 0 3px 1px rgb(0, 0, 87);
}

th {
    padding: 10px 15px;
    font-size: 13px;
    font-weight: bolder;
    text-transform: uppercase;
    color: white;
    background-color: rgb(0, 0, 143);
    height: 35px;
}

td {
    text-align: center;
    padding: 15px 1px;
    font-size: small;
    font-weight: medium;
    color: rgb(6, 6, 255);
}

td:hover {
    background-color: rgb(0, 191, 255);
    color: rgb(1, 1, 105);

}
tr:nth-child(even) {
    background-color: rgba(94, 94, 94, 0.1);
}

